


<div class="container vh-100 d-flex">

    <div class="row">
        <div class="col">
            <form #newOrderForm="ngForm" (ngSubmit)="onSubmit(newOrderForm)"  >
                <label for="consumerName">Nombre del cliente</label>
                <input type="text" class="form-control" id="consumerName" name="consumerName" ngModel equired>
                <label for="orderDescription">Descripción del pedido</label>
                <input type="text" class="form-control" id="orderDescription" name="orderDescription" ngModel required>
                <button type="submit" class="btn btn-is-primary">Ordenar</button>
            </form>
            
        </div>
    </div>

</div> 